@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.notification-inner {
  border: 0 !important;
}

notification,
notification[type="info"] {
  border-top: 0px solid;
  border-bottom: 0px solid;
  color: #000000;
  background: linear-gradient(#DCECF9, #B6D8F4) !important;
  box-shadow: 0 -1px 0 #9EB0C3 inset;
}

notification[type="critical"] {
  border-top: 0px solid;
  border-bottom: 0px solid;
  color: white;
  background: linear-gradient(#E49292, #DD7777) !important;
  box-shadow: 0 -1px 0 #D14848 inset;
}

.messageImage {
  width: 16px;
  height: 16px;
  -moz-margin-start: 6px;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

notification[type="info"] .messageImage,
.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

notification[type="warning"] .messageImage,
.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

notification[type="critical"] .messageImage,
.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.messageCloseButton {
  -moz-appearance: none;
  border: none;
  padding: 0px;
  -moz-margin-start: 8px;
  -moz-margin-end: 5px;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.messageCloseButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.messageCloseButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

popupnotification .messageCloseButton {
  margin-top: -2px;
  -moz-margin-end: -2px;
}

#notification-popup .messageCloseButton {
  list-style-image: url("chrome://global/skin/icons/floatbar_close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#notification-popup .messageCloseButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#notification-popup .messageCloseButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-button-container {
  margin-top: 17px;
}

.popup-notification-menubutton[type="menu-button"] {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
}

.popup-notification-menubutton > .button-menubutton-button > .button-box {
  -moz-padding-start: 8px;
  -moz-padding-end: 5px;
}

.popup-notification-menubutton > .button-menubutton-dropmarker {
  -moz-border-start-style: none !important;
  padding: 2px 3px 2px;
  width: auto;
  height: auto;
  list-style-image: url("chrome://global/skin/icons/notify_menu.png");
}

.popup-notification-menubutton > .button-menubutton-button,
.popup-notification-menubutton > .button-menubutton-dropmarker {
  border: 1px solid #9F9C95;
  margin: 0;
  box-shadow: 0 0 0 1px #FFFFFF inset,
                   0px 1px 2px rgba(0, 0, 0, 0.2);
}

.popup-notification-menubutton:not([open="true"])[buttonover="true"] > .button-menubutton-button,
.popup-notification-menubutton:not([open="true"]):hover:not([buttonover="true"]) > .button-menubutton-dropmarker {
  background: transparent
              linear-gradient(#FEFEFF, #EDF6FF 49%, 
                                   #D4E9FF 51%, #FAFCFF);
  border-color: #3298FF;
  box-shadow: 0 0 0 1px #FFFFFF inset,
              0 0 3.5px #3399FF;
}

.popup-notification-menubutton:hover > .button-menubutton-button,
.popup-notification-menubutton[buttonover="true"]:not(:active):hover > .button-menubutton-dropmarker {
  background: transparent
              linear-gradient(#EAF4FF, #E0EFFF 49%, 
                                   #DFEEFF 51%, #D5E9FF);
  border-color: #3298FF;
  box-shadow: 0 0 3.5px #3399FF;
}

.popup-notification-menubutton > .button-menubutton-button:active:hover,
.popup-notification-menubutton[open="true"] > .button-menubutton-button,
.popup-notification-menubutton:hover:active > .button-menubutton-dropmarker,
.popup-notification-menubutton[open="true"] > .button-menubutton-dropmarker {
  background: transparent
              linear-gradient(#E7E6E1, #E6E5E0 49%, 
                                   #DCDBD4 51%, #DDDCD5);
  border-color: #9F9C95;
  box-shadow: 0 1px 0 #C2C0BB inset,
              0 1px 3px 1px #C8C7BF inset;
}

.popup-notification-menubutton:not([open="true"]):hover:active > .button-menubutton-dropmarker {
  background: #F3F3F1;
  border-color: #9F9C95;
  box-shadow: 0 0 0 1px #FFFFFF inset,
                   0px 1px 2px rgba(0, 0, 0, 0.2);
}

.popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker {
  border-color: rgb(0,139,208);
  box-shadow: 0 0 3px rgb(0,170,255) inset,
              0px 1px 2px rgba(0, 0, 0, 0.2);
}

.popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(ltr),
.popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-radius: 3px 0 0 3px;
}

.popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(rtl),
.popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-radius: 0 3px 3px 0;
}

.popup-notification-closebutton {
  -moz-margin-end: -14px;
  margin-top: -10px;
}

.popup-notification-closeitem {
  list-style-image: url("chrome://global/skin/icons/notify_close.png");
}
